@CHARSET "UTF-8";

h1 {
	text-align: center;
}

.formBackground {
	display: none;
    position: fixed; 
    z-index: 1;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.formContent {
	display: none;
	width: 20%;
	height: 40%;
	margin-top: 10%;
	margin-left: 40%;
	border: 1px solid black;
	padding: 5px;
	background-color: #80b3ff;
}

.text {
	line-height: 2em;
	width: 50%;
}

#enter {
	width: 30%;
}

.form {
	text-align: center;
}

#navBar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffef7;
}

#navBarOption a {
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBarOption a:hover {
	background-color: #fcf9e3;
}

.navBarDiv {
	margin: auto;
	width: 61.45%;
}

.formDiv {
	float: left;
	margin-left: 1%;
	width: 15%;	
}

.signUpButton {
	float:right;
	width: 15%;
}

#discussionBox {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#documentList {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#searchBox {
    width: 50%;
    font-size: 16px;
    border: none;
    background-color: #fffef7;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: white;
}

#searchBox:focus {
    width: 75%;
    border: solid #333;
}