body { 
  background: url(../imgs/Parchment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backdrop {
	margin: auto;
	width: 60%;
	height: 87vh;
	background-color: #fcf9e3;
	position: relative;
	border: 12px solid #fffef7;	
}

.welcomeSection {
	margin: auto;
	text-align: center;
}

#welcome {
	font-size: 55px;
	font-family: Hitchhiker;
}