@charset "UTF-8";

html { 
  background: url(../imgs/Parchment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
	margin: 5px;
	padding: 5px;
}

#search-list {
	position:absolute;
	width: 60%;
	height: 86%;
	left: 49.65%;
	transform: translate(-50%, 0);
	background-color: #fcf9e3;
}

#search-title {
	font-family: "Hitchhiker";
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	border-bottom: 2px solid black;
	padding: 10px;
	height: 5%;
}

#search-menu {
	font-family: Centaur;
	margin: 10px;
	height: 55%;
}

#searchItem {
	height: auto;
}

#classname {
	font-size: 20px;
	width: 60%;
	display: inline-block;
}

#classButton {
	font-family: Centaur;
	background-color: Transparent;
	border: none;
	text-align: center;
	font-size: 25px;
	float: left;
}

#privacy {
}

#members {
	float: right;
	display: inline-block;
}

#go-to-class {
	display: inline-block;
}

.hidden {
	display: none;
}