/* Scribe

Vincent Rodriguez
Michael Takla
Felipe Mansilla
Noah Feldmen

*/

@CHARSET "ISO-8859-1";

@font-face {
	font-family: Hitchhiker;
	src: url(../fonts/Hitchhiker.ttf);
}

@font-face {
	font-family: Centaur;
	src: url(../fonts/CENTAUR.ttf);
}


html { 
  background: url(../imgs/Parchment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h4 {
	text-align: center;
	length: 100%;
}

p {
	text-align: center;
	length: 100%;
}

.backdrop {
	margin: auto;
	width: 60%;
	height: 95vh;
	background-color: #fcf9e3;
	position: relative;
	border: 12px solid #fffef7;
	
}

.text {
	line-height: 2em;
	width: 70%;
}

#enter {
	font-family: Centaur;
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: Transparent;
	border: none;
	border-radius: 15px;
	width: 180px;
}

.form {
	text-align: center;
}

.formBackground {
	display: none;
    z-index: 1;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.formContent {
	font-family: Centaur;
	display: none;
	margin: 13% auto;
	width: 25%;
	height: 50%;
	border: 3px solid black;
	padding: 5px;
	background-color: #fcf9e3;
}

#formTitle {
	font-family: Centaur;
	font-size:  30px;
}

.button {
	font-family: Centaur;
	display: inline-block;
	padding: 15px 25px;
	font-size: 33px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: Transparent;
	border: none;
	border-radius: 15px;
	width: 180px;
}

.button:hover {
	
	/* border: 1px solid black */;
	font-size: 40px;
	color: red;
}

#s {
	width: 300px;
	height: 300px;
}

.button:active {
  background-color: #63041c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}

#welcomeSection {
	margin: auto;
	text-align: center;
}

#welcome {
	font-size: 55px;
	font-family: Hitchhiker;
	
}

.logo {
	margin:auto;
	text-align:center;
}

#buttonSection {
	margin: auto;
	text-align: center;
	width: 100%;
	height: 30%;
	bottom: 0;
	position: absolute;
}

.letters {
	marging-left: 50%;;
	text-align: center;
	width: 100;
	height: 50%;
	top: 0;
	position: absolute;
}

.buttons {
	margin: auto;
	text-align: center;
	width: 100%;
	height: 50%;
	bottom: 0;
	position: absolute;
}


#buttonList {
	list-style-type: none;
	margin:auto;
	width: 100%;
}

#letterList {
	list-style-type: none;
	width: 100%;
	margin-left: 32%;
}

#button {
	display: inline;
	padding: 20px;
}

#letter {
	display: inline;
	padding: 20px;
}

.letter {
	font-family: Hitchhiker;
	display: inline-block;
	padding: 15px 25px;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: Transparent;
	border: none;
	border-radius: 15px;
	width: 150px;
}